<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.home77.kake">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
  <!-- Required -->
  <permission
    android:name="com.home77.kake.permission.JPUSH_MESSAGE"
    android:protectionLevel="signature"/>

  <!-- Required  一些系统要求的权限，如访问网络等 -->
  <uses-permission android:name="com.home77.kake.permission.JPUSH_MESSAGE"/>
  <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

  <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true"/>

  <application
    android:name=".App"
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@drawable/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".business.user.UserActivity">
    </activity>
    <activity android:name=".business.home.HomeActivity">
    </activity>
    <activity android:name=".business.home.view.GLPhotoActivity"/>
    <activity android:name=".business.home.CloudPhotoActivity">
    </activity>
    <activity android:name=".business.camera.CameraActivity">
    </activity>
    <activity android:name=".business.home.PhotoViewActivity"/>
    <activity android:name=".business.home.PhotoSelectActivity">
    </activity>
    <activity android:name=".business.user.KakeActivity">
    </activity>
    <activity android:name=".business.home.PinoWebPageActivity">
    </activity>

    <!-- Required SDK核心功能 -->
    <receiver
      android:name=".PushReceiver"
      android:enabled="true">
      <intent-filter>
        <action android:name="cn.jpush.android.intent.REGISTRATION"/>
        <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
        <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
        <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
        <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION"/>
        <action android:name="cn.jpush.android.intent.CONNECTION"/>

        <category android:name="com.home77.kake"/>
      </intent-filter>
    </receiver>

    <activity android:name=".business.home.SplashActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>